body {
    color: #222222;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

/* Header Styling */

.main 
{
    background-image: url("https://static.pexels.com/photos/128458/pexels-photo-128458.jpeg");
    padding: 5em 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: block;
}

.main-hello,
.main-heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 270px, 0;
    margin: 0 auto;
    
}

.main-hello 
{
    font-size: 50px;
}

.main-heading 
{
    font-size: 100px;
    text-transform: uppercase;
    padding: 10px;
}

.intro-face 
{
    display: block;
    position: relative; 
    height: 300px;
    border-radius: 5px;
    border: 30px solid #ffffff;   
}

.intro h3 
{
    text-align: center;
}
/* About Me Styling */

.container
{
    text-align: center;
}

.new-change
{
    display: block;
}
/* Social Links Styling */

